[submodule "ext/pFUnit"]
	path = ext/pFUnit
	url = git@github.com:mortele/pfunit.git
[submodule "ext/FRUITPy"]
	path = ext/FRUITPy
	url = https://github.com/mortele/FRUITPy
[submodule "ext/FRUIT"]
	path = ext/FRUIT
	url = https://github.com/mortele/FRUIT
