*.o 
*.mod
*.app
*.xyz
*.out
*.gcno
*.gcda
*.dSYM
*.DS_Store
log.lammps
lammps.dump
lammps.energy
*.bbl
*.aux
*.bcf
*.blg
*.flg
*.fls
*.fdb_latexmk
*.out
*.log
*.run.xml
*.synctex.gz
*__pycache__
.DS_Store
*.toc
*.pyc
.pytest_cache/
*.dump
*.mpg